@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  
}

header{
    height: 656px;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.shadow{
    height: 656px;
    background-color: rgba(0,0,0,0.45);
}

.container{
    width: 1140px;
    margin: 0 auto; 
}

.headerNavigation{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block;
    font-size: 14px;
    padding-left: 27px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.welcome{
    color: #ffffff;
    margin-top: 160px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 30px;
}

.description{
    color:  #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.button{
    margin-top: 25px;
    color: #fff;
    background-color: transparent;
    border: 2px solid white;
    padding: 16px 33px;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.5s;
}

.button:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}

.getStart{
    text-align: center;
}